<style>
    .card-img-top {
        transition: transform 0.3s ease;
        /* Smooth transition */
    }

    .card:hover .card-img-top {
        transform: scale(1.1);
        /* Slightly expand the image */
    }
</style>
</head>


{{> giftLable}}
<main class="container mt-0">
    <!-- Hero Section -->
    <section class="hero text-center py-5 bg-light">
        <h1 class="display-4">Give Love to Street Dogs: Healthy Treats for a Better Life!</h1>
        {{> carousel}}
        <p class="lead mt-4">Delicious and nutritious food for your furry friends.</p>
        <a href="products" class="btn btn-primary btn-lg">Shop Now</a>
    </section>

    <!-- Featured Products Section -->
    <section class="featured-products py-5 mt-2">
        <h2 class="text-center mb-4">Featured Products</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img src="https://www.mongrelhealthcare.com/wp-content/uploads/2024/03/Dogo-biscuit-1kg-small-pack.jpg"
                        class="card-img-top" alt="Product 1">
                    <div class="card-body">
                        <h5 class="card-title">Dogo Biscuits Combo Pack | Multigrain 1kg + dogo Small Pack</h5>
                        <p class="card-text">₹195.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <img src="https://www.mongrelhealthcare.com/wp-content/uploads/2024/03/4.png" class="card-img-top"
                        alt="Product 3">
                    <div class="card-body">
                        <h5 class="card-title">LIMITED OFFER <br> Trial Pack at just Rs. 99 </h5>
                        <p class="card-text">₹99.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-2">
                <div class="card">
                    <img src="https://www.mongrelhealthcare.com/wp-content/uploads/2024/03/Dogo-Biscuits-Puppy-1-Kg-Pack-of-3.jpg"
                        class="card-img-top" alt="Product 2">
                    <div class="card-body">
                        <h5 class="card-title">Biscuits 1 Kg Pack of 3 | Made with Oats and Multivitamins</h5>
                        <p class="card-text">₹549.00</p>
                    </div>
                </div>
            </div>
        </div>
    </section>


</main>